*{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul{
    display: flex  ;
    align-items: center;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    background-color: #FD6E0A ;
    color:#FFFFFF ;
    border-radius: 5px ;
    top: 68px;
    left: 1256px;
    font-style:bold ;
    margin-left: 35px;
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    font-size: large;
}
.button-primary1{
    background-color: #FD6E0A ;
    color:#FFFFFF ;
    border-radius: 5px ;
    top: 68px;
    left: 1256px;
    font-style:bold ;
    margin-left: 35px;
    width: 120px;
    height: 54px;
    flex-shrink: 0;
    font-size: large;
}
.button-secondary{
    border-radius: 5px ;
    top: 68px;
    left: 1256px;
    font-style:bold ;
    margin-left: 35px;
    width: 200px;
    height: 64px;
    flex-shrink: 0;
    font-size: large;
}
.banner{
    margin: 0px 200px ;
    display: flex ;
    align-items: center; 
}
.banner-title{
font-weight:700;
font-size: 85px;
margin-bottom: 20px;
}
.banner-sub-title{
font-weight: 600;
font-size: 45px;
margin-bottom: 5px;
}
.text-docs{
color:#757575 ;
width: 585px;
height: 60px;
font-size: 18px;
margin-bottom: 30px;
}
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left ;
}
.main{
    width: 1140px;
    height: 550px;
    top: 967px;
    left: 230px;
    border-radius: 10px;
    padding-left: 250px;
    padding-right:230px;
    
}
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px ;
    padding: 130px 150px ;
    text-align: center;
}

.section-title{
text-align: center ;
padding-bottom: 30px ;
font-weight: 700;
font-size: 35px ;
}
.section-description{
padding-bottom: 30px ;
    
}
.about-info-container{
    display:flex ;
    justify-content: space-around;
}
.info-title{
    font-weight: 700;
    font-size: 20;
    color: #757575;
}
.info-description{
    
    
    font-size:18px ;
    color:#474747 ;
}
/* What i do section */

.what-i-do{
    padding-top: 150px;
    margin-top: 200px;
    padding-bottom: 200px;
    border-radius: 10px;
}
.skill-title{
font-weight: 700;
font-size: 20px;
padding-bottom: 20px;
padding-top: 30px;
}
.work-description{
    background-color: #FFF8F3;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 16px; 
}
.skill-description{
    color:#757575 ;
}
.skills-container{
    display: flex ;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 100px 33px 30px 33px ;
}


/* Resume Styles*/


.title{
    font-size: 28px;
}
.resume{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 100px;
}
.container{
    display: flex;
}
.education{
background-color:darkgrey;
padding: 30px;

}
.experience{
   background-color: lightgrey;
   padding: 30px;
}
.description{
    padding-bottom: 35px;
}
.institute-1{
    border-bottom: 1px solid black;
}
.institute-2{
    border-bottom: 1px solid black;
}
.institute-3{
    border-bottom: 1px solid black;
}
/* contact */


.message{
    margin-top: 150px;
    background-color:#FFF8F3;
    padding: 100px;
}
.form{
    margin-bottom: 20px;
    display: table;
    gap: 24px;
    height: 35px;
    width: 300px;
    padding-left: 10px;
}
.area{
    width:300px ;
    padding-left: 10px;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    margin-bottom: 20px;
}
.a{
    text-decoration: none;
    padding-right: 20px;
    padding-bottom: 150px;
}
.section-title-connect{
    padding-top: 200px;
    text-align: center ;
    padding-bottom: 30px ;
    font-weight: 700;
    font-size: 35px ;
}
